:root {
    --bg-void: #161618;
    --bg-dark: #1b1b1f;
    --purple-secondary: #32363f;
    --bg-card: #202127;
    --purple: #646cff;
    --red: #a0153e;
    --color-light: #dfdfd6;
    --color-accent: #98989f;
    --color-dark: #32363f;
    --border-btn: #747bff;
}
