@import url('../../variables.css');

.header {
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-light);

    a {
        text-decoration: none;
    }

    .logo {
        margin: 0;
    }

    .my {
        color: var(--purple);
    }
}
